/* animação em css */
p.text-lg {
    border-right: 1px solid rgba(225, 225, 225, .75);
    text-align: center;
    font-size: 17px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    padding: 10px;
   /* margin-left: .25rem;*/
    animation: piscaCursor 500ms steps(40) infinite normal, digitando 4s steps(40) 1s normal both;
}

@keyframes digitando {
    from {width: 0;} to {width: 23em;}
}

@keyframes piscaCursor {
    from {
	border-right-color: rgba(225, 225, 225, .75);
    } to {
	border-right-color: transparent;
    }
}
